


<div class="center jumbotron">
  <h1>Welcome to Redmart</h1>

  <h2>
    Your online convenient store.
  </h2>

<% if !logged_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  </div>

<div class="container">
<ul class="products">
  <%= render @products %>
</ul>
</div>
